*{
    font-family: 'Cairo', sans-serif;
}
body{
    background-color: #ffffff;
    margin: 0;
}
header{
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
a{
   text-decoration: none;
   color: #707070;
   font-size: 22;
   
   
}
.a1{
   color: black;
}
.di{
    background-color: white;
    border-bottom: 1px solid #EEEEEE;
}

.cart{
    width: 200px;
    background-color: white;
    box-shadow: 0px 3px 10px #c0c0c0;
    border-radius: 20px;
    padding-bottom: 6;
    margin: 18;

}
.s1{
    width: 12;
    height: 12;
    background-color: red;
    border-radius: 360px;
}
.s2{
    width: 12;
    height: 12;
    background-color: brown;
    border-radius: 360px;
}
.s3{
    width: 12;
    height: 12;
    background-color: orangered;
    border-radius: 360px;
    margin-right: 6;
}
.font{
    font-size: 15;
    font-weight: bold;
}
.table{
    padding-right: 10;
    margin-top: 6;
}
.div{
    display: inline;
   
}
.scroll{
    overflow-x: auto;
    display: flex;
}
table{
    border: #707070;
}
hr{
    background-color: #EEEEEE;
    border: none;
    height: 2px;
    margin: 0;
}
.footer{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 0;
}
.header a{
    margin-left: 25px;
}
img{
    text-align: center;
    alt: _;
}
.div_img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #EEEEEE;
}
.img360{
    width: 80px;
    border-radius: 360px 360px 360px 360px;
}
.b{
   font-weight: bold; 
}
.i{
    padding: 0;
}
.i li{
    list-style: none;
    display: inline-block;
}







@media (max-width: 500px) {
    .header a{
         width: 100%;
         text-align: center;
         font-size: 18;
    }
}
@media (max-width: 357px) {
    .header a{
         width: 100%;
         text-align: center;
         font-size: 15;
         margin-left: 15px;
    }
}
@media (max-width: 476px) {
    .cart{
         width: 150px;
         margin: 9px;
    }
    .cart img{
        width: 150px;
        height: 150px;
    }
    .div_img{
         width: 150px;
         height: 150px;
    }
}
@media (max-width: 339px) {
    .cart{
         width: 120px;
         margin: 9px;
    }
    .cart img{
        width: 120px;
        height: 120px;
    }
    .div_img{
         width: 120px;
         height: 120px;
    }
    .font{
        font-size: 13;
    }
}